.main-container {
  height: 70vh;
  .form {
    max-width: 600px;
    width: 80%;
    min-width: 300px;
    margin: auto;
    text-align: center;
    .inputs-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      .input{
        width: 40%;
        margin: 10px;
      }
    }
  }
}
