.main-container {
  height: 70vh;
  .form {
    max-width: 400px;
    width: 100%;
    min-width: 300px;
    margin: auto;
    text-align: center;
    .inputs-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      .input{
        width: 48%;
        // margin: 10px;
      }
    }
  }
}
